.page {
    width: 1440px;
    margin: 0 auto;
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color:#2A2C2F;
    color: #ffffff;
}

@media screen and (max-width:363px){
    .page{
        max-width: 320px;
    }
}

@media screen and (min-width: 364px) and (max-width:740px){
    .page{
        width: 375px;
    }
}

@media screen and (min-width: 741px) and (max-width:948px){
    .page{
        width: 768px;
    }
}

@media screen and (min-width: 949px) and (max-width:1204px){
    .page{
        width: 1024px;
    }
}

@media screen and (min-width: 1205px) and (max-width: 1350px) {
    .page {
        max-width: 1280px;
    }
}