.places{
    max-width: 984px;
    margin: 92px auto 0;
}

@media screen and (max-width:740px){
    .places{
        margin: 64px auto 0;
    }
}

@media screen and (min-width: 741px) and (max-width:948px){
    .places{
        margin: 106px auto 0;
        max-width: calc(100% - 2*24px);
    }
}

@media screen and (min-width: 949px) and (max-width:1204px){
    .places{
        max-width: calc(100% - 2*48px);
        margin: 102px auto 0;
    }
}