.video-item__subtitle{
    position: relative;
    margin: 18px 0 30px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    z-index: 3;
}

@media screen and (max-width:740px){
    .video-item__subtitle{
        margin: 0 0 18px 16px;
        font-size: 14px;
        line-height: 15px;
    }
}

@media screen and (min-width: 741px) and (max-width:948px){
    .video-item__subtitle{
        margin: 12px 0 25px 25px;
        font-size: 14px;
        line-height: 15px;
    }
}

@media screen and (min-width: 949px) and (max-width:1204px){
    .video-item__subtitle{
        margin: 18px 0 35px 30px;
    }
}