.content-subtitle{
    max-width: calc(100% - 2*272px);
    margin: 48px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

@media screen and (max-width:349px){
    .content-subtitle{
        max-width: calc(100% - 2*16px);
        margin: 16px auto 0;
        font-size: 16px;
        line-height: 23px;  
    }
}

@media screen and (min-width: 350px) and (max-width:740px){
    .content-subtitle{
        max-width: 100%;
        margin: 16px auto 0;
        font-size: 16px;
        line-height: 23px;  
    }
}

@media screen and (min-width: 741px) and (max-width: 950px){
    .content-subtitle{
        max-width: calc(100% - 2*40px);
        margin: 24px auto 0;
    }
}

@media screen and (min-width: 951px) and (max-width: 1204px) {
    .content-subtitle{
        max-width: calc(100% - 2*144px);
    }
}